* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #78150c;
  font-family: Lato, sans-serif;
  font-size: 18px;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.App div {
  padding-bottom: 1px;
}

.calc-container {
  width: 400px;
  height: 625px;
  padding: 14px;
  background-color: #364e72;
  border-radius: 20px;
}

.row {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-up {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


